.text-white {
  color: white;
}

.font-hairline {
  font-weight: 300;
}

.w-max-600 {
  max-width: 600px;
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}
